<!--WORDT MOMENTEEL NIET GEBRUIKT-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Begeleider</title>

    <!-- BOOTSTRAP & JQ -->
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->

    <script type="text/javascript">
        /*$(document).ready(function() {
         var sideslider = $('[data-toggle=collapse-side]');
         var sel = sideslider.attr('data-target');
         var sel2 = sideslider.attr('data-target-2');
         sideslider.click(function(event){
         $(sel).toggleClass('in');
         $(sel2).toggleClass('out');
         });
         });*/
    </script>

    <link href="..static/css/begeleidercreate.css" th:href="@{../css/begeleidercreate.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<!-- MENU -->
<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

<div class="container">
    <div class="row">
        <h1>Voeg een begeleider toe</h1>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-default" >
                <div id="groen" class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-12">
                            <h3>Toevoegen</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal" th:object="${persoon}" th:action="@{/begeleideropslaan}" method="POST">

                            <input type="hidden" th:field="*{id}"/>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-2 col-sm-2 control-label">Voornaam en achternaam:</label>
                                    <div class="col-sm-10">
                                        <input id="txtNamen" type="text" maxlength="80" class="form-control" th:field="*{naam}" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Geboortedatum:</label>
                                    <div class="col-sm-10">
                                        <input id="txtGeboortedatum" type="date" class="form-control" th:field="*{geboorteDatum}" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Functieomschrijving:</label>
                                    <div class="col-sm-10">
                                        <input id="txtFunctieomschrijving" type="text" th:value="${functieomschrijving}" name="functieomschrijving" class="form-control" required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">GSM-nummer:</label>
                                    <div class="col-sm-10">
                                        <input id="txtGsm" type="text" maxlength="15" class="form-control" th:field="*{gsm}" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Adres:</label>
                                    <div class="col-sm-10">
                                        <input id="txtAdres" maxlength="100" type="text" class="form-control" th:field="*{adres}" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-lg-2 col-md-2 col-sm-2 control-label">Email:</label>
                                    <div class="col-sm-10">
                                        <input id="txtEmail" type="email" maxlength="80" class="form-control" th:field="*{email}" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Categorie:</label>
                                    <div class="col-sm-10">

                                        <!--<select th:value="${categorie}" name="categorie" class="form-control">-->
                                        <select id="cmbCategorie" th:value="${categorie_id}" name="categorie_id" class="form-control">
                                            <option th:value="-1" selected>kies een categorie</option>
                                            <option th:each="categorie : ${categorieen}"
                                                    th:value="${categorie.id}"
                                                    th:text="${categorie.naam}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Geslacht</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="options" th:field="*{geslacht}" id="optionsRadiosInline1" th:value="0" th:checked="*{true}"/>Man
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="options" th:field="*{geslacht}" id="optionsRadiosInline2" th:value="1" th:checked="*{false}"/>Vrouw
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-10 col-sm-12 center-block">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button id="submit" type="submit" class="btn btn-success btn-block" style="outline: 0; display: none;">Toevoegen</button>
                                        <button id="toevoegen" type="button" class="btn btn-success btn-block">Toevoegen</button>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="col-sm-12">
                                        <button  style="align-self: center" th:align="center" type="submit" class="btn btn-danger btn-block">Annuleren</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#toevoegen").click(function () {
            var voorEnAchternaam = $("#txtNamen").val();
            var geboortedatum = $("#txtGeboortedatum").val();
            var functieomschrijving = $("#txtfunctieomschrijving").val;
            var gsm = $("#txtGsm").val();
            var adres = $("#txtadres").val();
            var email = $("txtEmail").val();
            var categorie = $("cmbCategorie").val();



            if (voorEnAchternaam != "") {                               //Controle naam                 => ingevuld
                if (geboortedatum != "") {                              //Controle geboortedatum        => ingevuld
                    if (functieomschrijving != "") {                    //Controle functieomschrijving  => ingevuld
                        if (email != "") {                              //Controle email                => ingevuld
                            if (categorie != "") {
                                $('#submit').click();
                            }   else {
                                alert("Gelieve de categorie in te vullen");
                            }
                        }   else {
                            alert("Gelieve de email in te vullen" );
                        }
                    }   else {
                        alert("Gelieve een functieomschrijving in te vullen");
                    }
                }   else {
                    alert("Gelieve je geboortedatum in te vullen.");
                }
            }   else {
                alert("Gelieve je volledige naam in te vullen.");
            }
        });
    });
</script>


</body>
</html>